---
---

@import url("https://rsms.me/inter/inter.css");
// @import url("https://site-assets.fontawesome.com/releases/v6.1.2/css/all.css");

html, body { padding: 0; margin: 0; }

:root {
  --color-background: #F0F2F5;
  --color-primary: blue;
  --color-link: blue;
  --color-text: #323648;
  --color-green: #03A87C;
  --color-red: #FF5722;
  --color-border: rgba(0,0,0,0.1);
}

* { box-sizing: border-box; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: 100%; }

body { font-family: "Inter", sans-serif; background: var(--color-background); color: var(--color-text); }
h1, h2, h3, h4, h5, h6, p { margin: 0; }

a { color: var(--color-link); }
.clear { clear: both; }
.center { text-align: center; }
.relative { position: relative; }
.absolute { position: absolute; }
.block { display: block; }
.inline-block { display: inline-block; }
  .width-full { width: 100%; }

.fade-in { animation-duration: 1s; animation-fill-mode: forwards; animation-name: fade-in-animation; backface-visibility: hidden; opacity: 0; }
.fade-out { animation-name: fade-in-fade-out-animation; }      
.lp { position: relative; color: #323648; color: #1D263A; font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif; }
.lp .container { width: calc(100% - 30px); max-width: 950px; margin: 0 auto; position: relative; }
.lp .header { position: absolute; top: 0; left: 0; width: 100%; padding: 60px 0; z-index: 10; }
.lp .header .logo { position: relative; width: 100%; max-width: 200px; font-size: 0; }
.lp .header .logo a { display: inline-block; }
.lp .header .logo img, .lp .header .logo svg { max-width: 100%; height: 50px; }
.lp .hero { position: relative; background: white; text-align: left; padding: 60px 0; box-shadow: 0 0 6px rgba(0,0,0,0.05); z-index: 2; overflow: hidden; }
.lp .hero-text { position: relative; padding: 110px 50px 0 0; }
.lp .hero h1 { font-size: 38px; max-width: 400px; margin: 0 0 20px; }
.lp .hero p { font-size: 18px; line-height: 1.8; margin: 0 0 30px; max-width: 400px; }
.lp .hero p.terms-text { font-size: 12px; opacity: 0.6; padding: 0 5px; width: 100%; max-width: 400px; margin: 0; text-align: center; }
.lp .hero .image { position: absolute; top: 0; right: 0; width: 50%; height: 100%; z-index: 10; }
.lp .hero .image img { position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover; object-position: center center; }
.lp .form { position: relative; width: 100%; max-width: 400px; font-size: 0; margin: 0; }
.lp input { -webkit-appearance: none; appearance: none; border: 0 none; outline: 0 none; font-family: inherit; font-weight: inherit; background: transparent; color: inherit; border-radius: 5px; font-size: 16px; padding: 12px; width: 100%; margin: 0 0 14px; background: white; }
.lp input[type=text] { display: inline-block; width: calc(50% - 7px); }
.lp input[type=text]:first-child { margin-right: 14px; }
.lp input[type=text],
.lp input[type=email],
.lp input[type=tel] { border: 1px solid #DDDDDD; transition: border 0.3s ease; }
.lp input[type=text]:hover,
.lp input[type=email]:hover,
.lp input[type=tel]:hover { border: 1px solid #CCCCCC; }
.lp input[type=text]:focus,
.lp input[type=email]:focus,
.lp input[type=tel]:focus { border: 1px solid #227EF7; }
.lp input[type=submit] { font-size: 17px; background: #227EF7; color: white; box-shadow: 0 1px 2px rgba(0,0,0,0.1), 0 -1px 0 rgba(0,0,0,0.2) inset; font-weight: 600; padding: 12px 20px; margin-top: 5px; border: 2px solid #227EF7; margin-bottom: 0; transition: transform 0.3s ease; cursor: pointer; }
.lp input[type=submit]:hover { transform: translateY(-2px); }
.lp input[type=submit]:focus { border: 2px solid white; outline: 1px solid #227EF7; box-shadow: 0 0 0 transparent; }
.lp .hero .form p { font-size: 12px !important; text-align: center; margin-top: 15px !important; opacity: 0.6; letter-spacing: 0.1px; }
.lp iframe { position: relative; width: 100%; border: 0 none; height: 100%; }

.lp .features { position: relative; background: #FAFAFA; padding: 80px 20px; overflow: hidden; text-align: center; font-size: 17px; line-height: 1.8; }
.lp .features .container { max-width: 1200px; }
.lp .features h2 { font-size: 40px; line-height: 1.3; margin: 0 0 30px; margin-left: auto; margin-right: auto; max-width: 660px; }
.lp .features p { max-width: 840px; margin: -10px auto 50px; font-size: 20px; color: #636A77; }
.lp .features ul { margin: 0 0 -10px; list-style: none; width: calc(100% + 30px); font-size: 0; padding: 0; }
.lp .features ul li { padding: 0 0 10px 5px; width: calc((100% / 3) - 30px); margin: 0 30px 30px 0; display: inline-block; font-size: 15px; vertical-align: top; padding: 0; }
.lp .features ul li .icon { display: inline-block; margin: 0 0 25px; border-radius: 100%; background: linear-gradient(90deg, #5F6EEE, #745FEE); }
.lp .features ul li .icon span.mdi { color: white; padding: 15px; display: block; line-height: 1; font-size: 40px;}
.lp .features ul li .image { width: 100%; height: 0; background-size: cover; background-position: center; padding: 0 0 66%; border-radius: 10px; margin: 0 0 20px; box-shadow: 0 2px 12px 0 rgba(29,38,58,0.08); background-color: white; }
.lp .features ul li h3 { font-weight: bold; font-size: 24px; line-height: 1.2; margin: 0 0 15px; }
.lp .features ul li p { font-size: 17px; margin: 0 auto; }
.lp .features .feature-block-wrapper { box-shadow: 0 2px 12px 0 rgba(29,38,58,0.08); padding: 30px; width: calc(100% - 30px); margin: -70px auto 0; background: white; border-radius: 20px; text-align: left; }

.lp .about { position: relative; padding: 80px 20px; overflow: hidden; text-align: center; font-size: 17px; line-height: 1.8; }
.lp .about .container { max-width: 1200px; }
.lp .about .image { position: absolute; width: 50%; height: 100%; max-height: 600px; position: absolute; top: 0; left: 0; overflow: hidden; border-radius: 20px; box-shadow: 0 2px 12px rgba(29,38,58,0.08); }
.lp .about .image.with-comparison { height: 500px; max-width: 500px; left: 50px; }
.lp .about .image img { position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover; }
.lp .about .content { margin: 0 0 0 50%; text-align: left; padding: 20px 0 20px 60px; }
.lp .about h2 { font-size: 36px; line-height: 1.3; margin: 0 0 30px; margin-left: auto; margin-right: auto; max-width: 660px; }
.lp .about p { margin: 0 0 20px; font-size: 18px; opacity: 0.9; }

.lp .about.inverted .image { left: auto; right: 0; }
.lp .about.inverted .content { margin: 0 50% 0 0; padding: 20px 60px 20px 0; }

.lp .footer-cta { padding: 60px 20px; text-align: center; border-bottom: 1px solid rgba(255,255,255,0.1); }
.lp .footer-cta h2 { font-size: 34px; max-width: 460px; margin: 0 auto 30px; }
.lp .footer-cta p { font-size: 20px; margin: 0 auto 40px; max-width: 600px; line-height: 1.6; }
.lp .footer-cta .footer-cta-button { background: white; box-shadow: 0 2px 2px rgba(0,0,0,0.1); font-size: 18px; font-weight: 600; padding: 15px 25px; line-height: 1; border-radius: 6px; display: inline-block; text-decoration: none; }

.lp .footer { padding: 50px 20px; text-align: center; font-size: 15px }
.lp .footer p { max-width: 870px; margin: 0 auto 30px; line-height: 1.8; border-bottom: 1px solid rgba(255,255,255,0.1); padding-bottom: 30px; }
.lp .footer .links { list-style: none; margin: 0; padding: 0; }
.lp .footer .links li { display: inline-block; margin: 0 10px; }
.lp .footer .links li a { text-decoration: none; color: inherit; }
.lp .footer .links li a:hover { text-decoration: underline; }

.lp.show-calendar .hero .logo { margin: 0 auto 20px; }
.lp.show-calendar .hero .image { display: none; }
.lp.show-calendar .hero-text { display: none; }
.lp.show-calendar .form { display: none; }
.lp.show-calendar iframe { height: 410px; margin: 0 0 -60px; }

#raw-list { position: relative; display: none; }
.lp .grid { position: relative; padding: 50px 0; background: #FAFAFA; display: none; z-index: 1; box-shadow: 0 1px 1px rgba(0,0,0,0.1); }
.lp .grid h3 { text-align: center; margin: 0 auto; max-width: 440px; font-weight: bold; font-size: 20px; line-height: 1.5; padding: 0 10px 10px; }
.lp .grid h4 { text-align: center; margin: 0 auto; max-width: 440px; font-weight: 400; font-size: 17px; line-height: 1.5; padding: 0 10px 20px; }
.lp .grid h3 strong, .lp .grid h4 strong { font-weight: bold; }
.lp .grid-container { position: relative; text-align: center; padding: 0; font-size: 15px; margin: 0 auto; width: calc(100% - 30px); max-width: 800px; background: transparent; }
.lp .grid .loading-content { display: none; padding: 40px 0 20px; }
.lp .grid .loading-content span.mdi { opacity: 0.4; }
.lp .grid .loading-content p { font-size: 17px; margin: 0; padding: 20px 0 0; line-height: 1.5; }
.lp .grid .loading-content p strong { display: block; }
.lp .grid .day-block { display: inline-block; width: 100px; padding: 10px 5px; vertical-align: top; }
.lp .grid .day-block[data-available-slots='0'] { display: none; }
.lp .grid .day-block .label { border-bottom: 1px solid rgba(0,0,0,0.1); padding: 0 0 10px; margin: 0 0 10px; line-height: 1.5; }
.lp .grid .day-block .label span { text-transform: uppercase; font-size: 15px; font-weight: 600; letter-spacing: 0.5px; }
.lp .grid .day-block .list { list-style: none; padding: 0; }
.lp .grid .day-block .list li { padding: 5px 0; margin: 0 0 10px; font-size: 14px; border-radius: 5px; cursor: pointer; background: white; box-shadow: 0 1px 1px rgba(0,0,0,0.1), 0 0 0 1px rgba(0,0,0,0.05); }
.lp .grid .day-block .list span { display: none; }
.lp .grid.loading h4 { display: none; }
.lp .grid.loading .day-block { display: none; }
.lp .grid.loading .loading-content { display: block; }

.lp.show-grid {
  .header { position: relative; top: auto; left: auto; padding: 20px 0; background: white; box-shadow: 0 0 6px rgba(0,0,0,0.05); }
  .header .logo { margin: 0 auto; padding: 0; }
  .hero { display: none; }
  .grid { display: block; }
  .form { display: none; }
  .hero-text { display: none; }
  .hero .image { display: none; }
  .features { display: none; }
  .about { display: none; }
  .footer-cta { display: none; }
}

.lp .comparison { position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 10; background: white; }
.lp .comparison .img { position: absolute; top: 0; left: 0; width: 100%; height: 0; padding: 0 0 100%; background-size: auto 100%; background-repeat: no-repeat; }
.lp .comparison .img.foreground-img { width: 50%; }
.lp .comparison .slider { position: absolute; -webkit-appearance: none; appearance: none; width: 100%; height: 100%; background: rgba(255,255,255,0); outline: none; margin: 0; transition: all 0.2s; display: flex; justify-content: center; align-items: center; }
.lp .comparison .slider::-webkit-slider-thumb { -webkit-appearance: none; appearance: none; width: 6px; height: 2000px; background: white; cursor: pointer; }
.lp .comparison .slider::-moz-range-thumb { width: 6px; height: 2000px; background: white; cursor: pointer; }
.lp .comparison .slider-button { pointer-events: none; position: absolute; width: 30px; height: 30px; border-radius: 50%; background-color: white; left: calc(50% - 18px); top: calc(50% - 18px); display: flex; justify-content: center; align-items: center; }
.lp .comparison .slider-button:after { content: ""; padding: 3px; display: inline-block; border: solid #5d5d5d; border-width: 0 2px 2px 0; transform: rotate(-45deg); }
.lp .comparison .slider-button:before { content: ""; padding: 3px; display: inline-block; border: solid #5d5d5d; border-width: 0 2px 2px 0; transform: rotate(135deg); }

@media screen and (max-width: 1023px) {
  .lp .container { width: 100%; top: auto; transform: none; margin: 0 auto; }
  .lp .header { position: relative; top: auto; left: auto; padding: 10px 0; background: white; box-shadow: 0 0 6px rgba(0,0,0,0.05); }
  .lp .header .logo { max-width: 150px; margin: 0 auto; }  
  .lp .hero { padding: 0 0 30px; }
  .lp .hero .container { width: 100%; padding: 0 30px; margin: 0 auto; }
  .lp .hero .image { top: 0; left: 0; width: 100%; height: 260px; }
  .lp .hero-text { padding: 290px 0 0; text-align: center; }
  .lp .hero h1 { font-size: 28px; max-width: 300px; margin: 0 auto 20px; }
  .lp .hero p { font-size: 16px; margin: 0 auto 20px; max-width: 320px; }
  .lp .hero p.terms-text { font-size: 12px; margin: 0 auto; padding: 0; line-height: 1.4; max-width: 200px; }
  .lp .features { padding: 40px 0 10px; }
  .lp .features .container { max-width: 400px; padding: 0 15px; }
  .lp .features h2 { font-size: 24px; max-width: 300px; }
  .lp .features p { font-size: 16px !important; max-width: 320px; }
  .lp .features ul { width: auto; margin: 0 -10px; }
  .lp .features ul li { width: 100%; padding: 0 15px; margin: 0 0 30px; }
  .lp .about { padding: 20px 20px 0; }
  .lp .about .content { margin: 0 auto; max-width: 500px; padding: 20px 0; }
  .lp .about .image { position: relative; width: 100%; height: 0; padding: 0 0 56.25%; margin: 0 0 30px; top: auto; left: auto; }
  .lp .about h2 { font-size: 24px; }
  .lp .about p { font-size: 16px; }
  .lp .form { margin: 0 auto; max-width: 320px; }
  .lp .grid { padding: 30px 0; }
  .lp .features p { margin-bottom: 40px; }
  .lp .footer-cta { padding: 50px 20px; }
  .lp .footer-cta h2 { font-size: 26px; max-width: 360px; margin: 0 0 30px; }
  .lp .footer-cta p { font-size: 18px; max-width: 360px; margin: 0 0 30px; }
  .lp .footer { padding: 30px 20px; font-size: 14px; line-height: 2.5; }
  .lp.show-grid .header { padding: 10px 0; }
  .lp .comparison .slider-button { margin-left: 1px; }
  .lp .about .image.with-comparison { padding: 0 0 100%; left: 0; height: 0; max-width: none; }
}

@media screen and (max-width: 400px) {
  .lp .hero .form p { max-width: 190px; margin: 15px auto 0 !important; }
}
      
@keyframes fade-in-animation {
  0%   { opacity: 0; transform: translateY(10px); }
  100% { opacity: 1; transform: none; }
}

@keyframes blink {
  50% {
    opacity: 1;
  }
}