---
---

@import url("https://rsms.me/inter/inter.css");
@import url("https://cdn.jsdelivr.net/npm/@mdi/font@6.9.96/css/materialdesignicons.min.css");

html, body { padding: 0; margin: 0; }

:root {
  --color-background: #F0F2F5;
  --color-primary: blue;
  --color-link: blue;
  --color-text: #323648;
  --color-green: #03A87C;
  --color-red: #FF5722;
  --color-border: rgba(0,0,0,0.1);
}

* { box-sizing: border-box; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: 100%; }

body { font-family: "Inter", sans-serif; color: var(--color-text); }
h1, h2, h3, h4, h5, h6, p { margin: 0; }

a { color: var(--color-link); }
.clear { clear: both; }
.center { text-align: center; }
.relative { position: relative; }
.absolute { position: absolute; }
.block { display: block; }
.inline-block { display: inline-block; }
  .width-full { width: 100%; }

.lp { position: relative; color: #323648; color: #1D263A; font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif; max-width: 2000px; margin: 0 auto; box-shadow: 0 0 8px rgba(0,0,0,0.1); min-height: 100vh; background: #F2F2F2; }
.lp .container { width: calc(100% - 30px); max-width: 950px; margin: 0 auto; position: relative; }
.lp .header { position: relative; width: 100%; padding: 0 0 50px; }
.lp .header .logo { position: relative; width: 100%; max-width: 200px; font-size: 0; }
.lp .header .logo a { display: inline-block; }
.lp .header .logo img, .lp .header .logo svg { max-width: 100%; height: 50px; }
.lp .hero { position: relative; background: white; text-align: left; padding: 60px 0; box-shadow: 0 0 6px rgba(0,0,0,0.05); z-index: 2; overflow: hidden; }
.lp .hero-text { position: relative; padding: 0 50px 0 0; }
.lp .hero h1 { font-size: 35px; max-width: 400px; margin: 0 0 20px; }
.lp .hero p { font-size: 18px; line-height: 1.8; margin: 0 0 30px; max-width: 400px; }
.lp .hero p.terms-text { font-size: 12px; opacity: 0.6; padding: 0 5px; width: 100%; max-width: 400px; margin: 0; text-align: center; }
.lp .hero .image { position: absolute; top: 0; right: 0; width: 50%; height: 100%; z-index: 10; }
.lp .hero .image img { position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover; object-position: center top; }
.lp .form { position: relative; width: 100%; max-width: 400px; font-size: 0; margin: 0; padding: 0 0 20px; }
.lp input, .lp button { -webkit-appearance: none; appearance: none; border: 0 none; outline: 0 none; font-family: inherit; font-weight: inherit; background: transparent; color: inherit; border-radius: 5px; font-size: 16px; padding: 12px; width: 100%; margin: 0 0 14px; background: white; }
.lp input[type=text] { display: inline-block; width: calc(50% - 7px); }
.lp input[type=text]:first-child { margin-right: 14px; }
.lp input[type=text],
.lp input[type=email],
.lp input[type=tel] { border: 1px solid #DDDDDD; transition: border 0.3s ease; }
.lp input[type=text]:hover,
.lp input[type=email]:hover,
.lp input[type=tel]:hover { border: 1px solid #CCCCCC; }
.lp input[type=text]:focus,
.lp input[type=email]:focus,
.lp input[type=tel]:focus { border: 1px solid #227EF7; }
.lp button[type=submit] { font-size: 17px; background: #227EF7; color: white; box-shadow: 0 1px 2px rgba(0,0,0,0.1), 0 -1px 0 rgba(0,0,0,0.2) inset; font-weight: 600; padding: 12px 20px; margin-top: 5px; border: 2px solid #227EF7; margin-bottom: 0; transition: transform 0.3s ease; cursor: pointer; }
.lp button[type=submit]:hover { transform: translateY(-2px); }
.lp button[type=submit]:focus { border: 2px solid white; outline: 1px solid #227EF7; box-shadow: 0 0 0 transparent; }
.lp .hero .form p { font-size: 11px; color: #666666; text-align: center; margin: 0 auto 10px !important; letter-spacing: 0.1px; }

.lp .features { position: relative; background: #FAFAFA; padding: 80px 20px; overflow: hidden; text-align: center; font-size: 17px; line-height: 1.8; }
.lp .features .container { max-width: 1200px; }
.lp .features h2 { font-size: 40px; line-height: 1.3; margin: 0 0 30px; margin-left: auto; margin-right: auto; max-width: 660px; }
.lp .features p { max-width: 840px; margin: -10px auto 50px; font-size: 20px; color: #636A77; }
.lp .features ul { margin: 0 0 -10px; list-style: none; width: calc(100% + 30px); font-size: 0; padding: 0; }
.lp .features ul li { padding: 0 0 10px 5px; width: calc((100% / 3) - 30px); margin: 0 30px 30px 0; display: inline-block; font-size: 15px; vertical-align: top; padding: 0; }
.lp .features ul li .icon { display: inline-block; margin: 0 0 25px; border-radius: 100%; background: linear-gradient(90deg, #5F6EEE, #745FEE); }
.lp .features ul li .icon span.mdi { color: white; padding: 15px; display: block; line-height: 1; font-size: 40px;}
.lp .features ul li .image { width: 100%; height: 0; background-size: cover; background-position: center; padding: 0 0 66%; border-radius: 10px; margin: 0 0 20px; box-shadow: 0 2px 12px 0 rgba(29,38,58,0.08); background-color: white; }
.lp .features ul li h3 { font-weight: bold; font-size: 24px; line-height: 1.2; margin: 0 0 15px; }
.lp .features ul li p { font-size: 17px; margin: 0 auto; }
.lp .features .feature-block-wrapper { box-shadow: 0 2px 12px 0 rgba(29,38,58,0.08); padding: 30px; width: calc(100% - 30px); margin: -70px auto 0; background: white; border-radius: 20px; text-align: left; }

.lp .about { position: relative; padding: 80px 20px; overflow: hidden; text-align: center; font-size: 17px; line-height: 1.8; }
.lp .about .container { max-width: 1200px; }
.lp .about .image { position: absolute; width: 50%; height: 100%; max-height: 600px; position: absolute; top: 0; left: 0; overflow: hidden; border-radius: 20px; box-shadow: 0 2px 12px rgba(29,38,58,0.08); }
.lp .about .image.with-comparison { height: 500px; max-width: 500px; left: 50px; }
.lp .about .image img { position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover; }
.lp .about .content { margin: 0 0 0 50%; text-align: left; padding: 20px 0 20px 60px; }
.lp .about h2 { font-size: 36px; line-height: 1.3; margin: 0 0 30px; margin-left: auto; margin-right: auto; max-width: 660px; }
.lp .about p { margin: 0 0 20px; font-size: 18px; opacity: 0.9; }

.lp .about.inverted .image { left: auto; right: 0; }
.lp .about.inverted .content { margin: 0 50% 0 0; padding: 20px 60px 20px 0; }

.lp .footer-cta { padding: 60px 20px; text-align: center; opacity: 0.9; }
.lp .footer-cta:before { content: ""; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: rgba(255,255,255,0.025); }
.lp .footer-cta h2 { font-size: 34px; max-width: 460px; margin: 0 auto 30px; }
.lp .footer-cta p { font-size: 20px; margin: 0 auto 40px; max-width: 600px; line-height: 1.6; }
.lp .footer-cta .footer-cta-button { background: white; box-shadow: 0 2px 2px rgba(0,0,0,0.1); font-size: 18px; font-weight: 600; padding: 15px 25px; line-height: 1; border-radius: 6px; display: inline-block; text-decoration: none; }

.lp .footer { padding: 50px 20px; text-align: center; font-size: 15px }
.lp .footer p { max-width: 870px; margin: 0 auto 30px; line-height: 1.8; border-bottom: 1px solid rgba(255,255,255,0.1); padding-bottom: 30px; }
.lp .footer .links { list-style: none; margin: 0; padding: 0; }
.lp .footer .links li { display: inline-block; margin: 0 10px; }
.lp .footer .links li a { text-decoration: none; color: inherit; }
.lp .footer .links li a:hover { text-decoration: underline; }
.lp .footer .links li.copyright { display: block; padding-top: 15px; line-height: 1; font-weight: 600; }
.lp .footer .footer-icon { display: block; position: relative; width: 30px; height: 30px; margin: 40px auto 0; opacity: 0.3; transition: opacity 0.3s ease; filter: grayscale(1); cursor: pointer; }
.lp .footer .footer-icon img { position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover; object-position: top left; }
.lp .footer .footer-icon:hover { opacity: 1; filter: grayscale(0); }
.lp.show-calendar .hero .logo { margin: 0 auto 20px; }
.lp.show-calendar .hero .image { display: none; }
.lp.show-calendar .hero-text { display: none; }
.lp.show-calendar .form { display: none; }
.lp.show-calendar iframe { height: 410px; margin: 0 0 -60px; }

#raw-list { position: relative; display: none; }
.lp .grid { position: relative; padding: 50px 0; background: #FAFAFA; display: none; z-index: 1; box-shadow: 0 1px 1px rgba(0,0,0,0.1); }
.lp .grid h3 { text-align: center; margin: 0 auto; max-width: 440px; font-weight: bold; font-size: 20px; line-height: 1.5; padding: 0 10px 10px; }
.lp .grid h4 { text-align: center; margin: 0 auto; max-width: 440px; font-weight: 400; font-size: 17px; line-height: 1.5; padding: 0 10px 20px; }
.lp .grid h3 strong, .lp .grid h4 strong { font-weight: bold; }
.lp .grid-container { position: relative; text-align: center; padding: 0; font-size: 15px; margin: 0 auto; width: calc(100% - 30px); max-width: 800px; background: transparent; }
.lp .grid .loading-content { display: none; padding: 40px 0 20px; }
.lp .grid .loading-content span.mdi { opacity: 0.4; }
.lp .grid .loading-content p { font-size: 17px; margin: 0; padding: 20px 0 0; line-height: 1.5; }
.lp .grid .loading-content p strong { display: block; }
.lp .grid .day-block { display: inline-block; width: 100px; padding: 10px 5px; vertical-align: top; }
.lp .grid .day-block[data-available-slots='0'] { display: none; }
.lp .grid .day-block .label { border-bottom: 1px solid rgba(0,0,0,0.1); padding: 0 0 10px; margin: 0 0 10px; line-height: 1.5; }
.lp .grid .day-block .label span { text-transform: uppercase; font-size: 15px; font-weight: 600; letter-spacing: 0.5px; }
.lp .grid .day-block .list { list-style: none; padding: 0; }
.lp .grid .day-block .list li { padding: 5px 0; margin: 0 0 10px; font-size: 14px; border-radius: 5px; cursor: pointer; background: white; box-shadow: 0 1px 1px rgba(0,0,0,0.1), 0 0 0 1px rgba(0,0,0,0.05); }
.lp .grid .day-block .list span { display: none; }
.lp .grid.loading h4 { display: none; }
.lp .grid.loading .day-block { display: none; }
.lp .grid.loading .loading-content { display: block; }

.lp.show-grid {
  .header { position: relative; top: auto; left: auto; padding: 20px 0; background: white; box-shadow: 0 0 6px rgba(0,0,0,0.05); }
  .header .logo { margin: 0 auto; padding: 0; }
  .hero { display: none; }
  .grid { display: block; }
  .form { display: none; }
  .hero-text { display: none; }
  .hero .image { display: none; }
  .features { display: none; }
  .about { display: none; }
  .footer-cta { display: none; }
}

.lp .comparison { position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 10; background: white; }
.lp .comparison .img { position: absolute; top: 0; left: 0; width: 100%; height: 0; padding: 0 0 100%; background-size: auto 100%; background-repeat: no-repeat; overflow: hidden; }
.lp .comparison .img.foreground-img { width: 50%; }
.lp .comparison .img:before { position: absolute; bottom: 0; padding: 8px 15px; font-size: 15px; background: #EEEEEE; margin: 20px; font-weight: 600; border-radius: 4px; line-height: 1; }
.lp .comparison .img.foreground-img:before { content: "Before"; left: 0; right: auto; }
.lp .comparison .img.background-img:before { content: "After"; left: auto; right: 0; }
.lp .comparison .slider { position: absolute; -webkit-appearance: none; appearance: none; width: 100%; height: 100%; background: rgba(255,255,255,0); outline: none; margin: 0; transition: all 0.2s; display: flex; justify-content: center; align-items: center; }
.lp .comparison .slider::-webkit-slider-container { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
.lp .comparison .slider::-webkit-slider-runnable-track { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
.lp .comparison .slider::-webkit-slider-thumb { -webkit-appearance: none; appearance: none; width: 6px; height: 2000px; background: white; cursor: grab; box-shadow: 0 0 3px rgba(0,0,0,0.2); }
.lp .comparison .slider::-moz-range-thumb { width: 6px; height: 2000px; background: white; cursor: grab; box-shadow: 0 0 3px rgba(0,0,0,0.2); }
.lp .comparison .slider-button { pointer-events: none; position: absolute; width: 30px; height: 30px; border-radius: 50%; background-color: white; left: 50%; top: 50%; transform: translateX(-50%) translateY(-50%); text-align: center; line-height: 25px; box-shadow: 0 0 3px rgba(0,0,0,0.2); margin-left: -2px; }
.lp .comparison .slider-button:after { content: ""; padding: 3px; display: inline-block; border: solid #5d5d5d; border-width: 0 2px 2px 0; transform: rotate(-45deg); }
.lp .comparison .slider-button:before { content: ""; padding: 3px; display: inline-block; border: solid #5d5d5d; border-width: 0 2px 2px 0; transform: rotate(135deg); }

.lp .modal { position: absolute; font-size: 15px; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0,0,0,0.4); z-index: 10; opacity: 0; pointer-events: none; transition: opacity 0.3s ease; }
.lp.show-modal { overflow: hidden; height: 100vh; }
.lp.show-modal .modal { opacity: 1; pointer-events: all; }
.lp .modal .close { position: absolute; top: 12px; right: 8px; padding: 10px; font-size: 24px; line-height: 1; opacity: 0.5; transition: opacity 0.3s ease; cursor: pointer; }
.lp .modal .close:hover { opacity: 0.8; }
.lp .inner-modal { position: absolute; top: 50%; left: 50%; width: calc(100% - 30px); max-width: 500px; background: white; padding: 22px 30px; border-radius: 4px; box-shadow: 0 0 8px rgba(0,0,0,0.1); text-align: center; transform: translateX(-50%) translateY(-50%); }
.lp .inner-modal h2 { font-size: 20px; line-height: 1.2; font-weight: 600; margin: 0 0 20px; }
.lp .inner-modal .summary { background: #F9F9F9; margin: 0 0 15px; padding: 10px; line-height: 1.8; }
.lp .inner-modal .summary .label { opacity: 1; }
.lp .inner-modal .summary .value { font-weight: 600; }
.lp .inner-modal button { -webkit-appearance: none; appearance: none; background: #227EF7; color: white; font-size: inherit; font-family: inherit; border: 0 none; padding: 12px 15px; line-height: 1; border-radius: 5px; box-shadow: 0 1px 2px rgba(0,0,0,0.1), 0 -1px 0 rgba(0,0,0,0.2) inset; outline: 0 none; font-weight: 500; cursor: pointer; margin: 5px 0 0; outline: 2px solid transparent; border: 1px solid transparent; }
.lp .inner-modal button:focus { outline: 2px solid #227EF7; border: 1px solid white; }

.lp .confirmation { display: none; background: #F9FAFB; padding: 50px 30px; text-align: center; width: calc(100% - 20px); max-width: 420px; position: relative; box-shadow: 0 2px 12px 0 rgba(29,38,58,0.08); border-radius: 3px; overflow: hidden; margin: 50px auto; line-height: 1.8; }
.lp .confirmation h3 { margin: 0 0 15px; line-height: 1.3; }
.lp .confirmation p { font-size: 16px; }
.lp .confirmation p strong { font-weight: 600; }
.lp .confirmation .mdi { display: block; font-size: 40px; line-height: 1; margin: 0 0 20px; color: #33B679; }

.lp.show-confirmation {
  .header { position: relative; top: auto; left: auto; padding: 20px 0; background: white; box-shadow: 0 0 6px rgba(0,0,0,0.05); }
  .header .logo { margin: 0 auto; padding: 0; }
  .hero { display: none; }
  .grid { display: none; }
  .form { display: none; }
  .confirmation { display: block; }
  .hero-text { display: none; }
  .hero .image { display: none; }
  .features { display: none; }
  .about { display: none; }
  .footer-cta { display: none; }
}

@media screen and (max-width: 1023px) {
  .lp .container { width: 100%; top: auto; transform: none; margin: 0 auto; }
  .lp .header { position: relative; padding: 10px 0; background: white; box-shadow: 0 0 6px rgba(0,0,0,0.05); z-index: 100; }
  .lp .header .logo { max-width: 150px; margin: 0 auto; }  
  .lp .hero { padding: 0 0 30px; }
  .lp .hero .container { width: 100%; padding: 0 30px; margin: 0 auto; }
  .lp .hero .image { position: relative; top: 0; left: 0; width: 100%; height: 220px; }
  .lp .hero-text { padding: 30px 0 0; text-align: center; }
  .lp .hero h1 { font-size: 28px; max-width: 320px; margin: 0 auto 20px; }
  .lp .hero p { font-size: 16px; margin: 0 auto 20px; max-width: 320px; }
  .lp .hero p.terms-text { font-size: 12px; margin: 0 auto; padding: 0; line-height: 1.4; max-width: 200px; }
  .lp .features { padding: 40px 0 10px; }
  .lp .features .container { max-width: 400px; padding: 0 15px; }
  .lp .features h2 { font-size: 24px; max-width: 300px; }
  .lp .features p { font-size: 16px !important; max-width: 320px; }
  .lp .features ul { width: auto; margin: 0 -10px; }
  .lp .features ul li { width: 100%; padding: 0 15px; margin: 0 0 30px; }
  .lp .about { padding: 20px 20px 0; }
  .lp .about .content { margin: 0 auto; max-width: 500px; padding: 20px 0; }
  .lp .about .image { position: relative; width: 100%; height: 0; padding: 0 0 56.25%; margin: 0 0 30px; top: auto; left: auto; }
  .lp .about h2 { font-size: 24px; }
  .lp .about p { font-size: 16px; }
  .lp .form { margin: 0 auto; max-width: 320px; padding: 0 0 10px; }
  .lp .grid { padding: 30px 0; }
  .lp .features p { margin-bottom: 40px; }
  .lp .footer-cta { padding: 50px 20px; }
  .lp .footer-cta h2 { font-size: 26px; max-width: 360px; margin: 0 0 30px; }
  .lp .footer-cta p { font-size: 18px; max-width: 360px; margin: 0 0 30px; }
  .lp .footer { padding: 30px 20px; font-size: 14px; line-height: 2.5; }
  .lp.show-grid .header { padding: 10px 0; }
  .lp .about .image.with-comparison { padding: 0 0 100%; left: 0; height: 0; max-width: none; }
  .lp .inner-modal h2 { font-size: 16px; }
  .lp .modal .close { top: 10px; right: 0; }
}

@keyframes blink {
  50% {
    opacity: 1;
  }
}