<!DOCTYPE html>
<html lang="en">
  
  <head>
    <title>{{ page.campaign_title }} – {{ page.business_name }}</title>
    <meta name="description" content="Promotion is limited to the first 15 people. Usually fills in less than 5 days. Claim your free spot now!">
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, width=device-width, user-scalable=no" />
    <link rel="apple-touch-icon" href="https://usealan.com/assets/images/icon.png">
    <link rel="shortcut icon" href="https://usealan.com/assets/images/icon.ico" />
    <link rel="stylesheet" href="/assets/landing.css" />
    <meta name="theme-color" content="{{ page.business_primary_color }}">
    <meta property="og:image" content="{{ page.hero_image }}">
  </head>
  
  <body class="lp fade-in" data-theme="1">
    
    <div class="header">
      <div class="container">
        <div class="logo">
          <a href="."><svg x="0px" y="0px" viewBox="0 0 559 108" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <defs></defs>
                  <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                      <g class="hair-club-logo-svg hairclub-logo-white" fill="#581024">
                          <g class="logo">
              <path d="M56.5,13.5h18.1v81.9H56.5V62.8h-24v32.7H14.3V13.5h18.1v31.7h24V13.5z M161.1,95.5h18.4V13.5h-18.4V95.5z M239.2,62.9
              	l15.9,32.6h-19.8L221.6,66h-10.9v29.5h-18.3V13.5h31.7c21.4,0,28.9,14.1,29,26.2C253.3,50.3,247.6,58.9,239.2,62.9z M224.2,29.9
              	h-13.6v19.3h13.8c7.1,0,10.7-3.2,10.7-9.6C235.1,34.9,231.4,29.9,224.2,29.9z M294.5,28.9c4.4,0,8.2,1.5,10.2,4.1
              	c1.9,2.3,2.8,4.5,3.1,7.2L308,42h18.4l-0.1-2.2c-0.5-5.1-2.4-12.3-8-18.1c-6-6.1-14.6-9.6-23.7-9.6c-9.2,0-17.4,3.2-23.5,9.4
              	c-8.6,8.6-10.3,18.6-10.3,33.1c0,14.4,1.7,24.5,10.3,33.1c6.1,6.1,14.2,9.3,23.5,9.3c9,0,17.6-3.6,23.7-9.8c4.4-4.5,7.3-11,8-18.2
              	l0.1-2.2H308l-0.2,1.8c-0.3,2.9-1.3,5.3-3.1,7.5c-2.1,2.6-5.9,4.2-10.2,4.2c-4,0-7.8-1.7-10.6-4.6c-4.8-5-4.8-14.3-4.8-21.1
              	s0-16,4.9-21.1C286.7,30.6,290.5,28.9,294.5,28.9z M354.1,13.5h-18.2v81.9h49.6V78.1h-31.5V13.5z M435.8,63.3
              	c0,11.6-3.5,16.7-12.4,16.7c-8.9,0-12.4-5.2-12.4-16.7V13.5h-18.1v50c0,21.5,10.1,33.3,30.5,33.3c20.5,0,30.5-11.8,30.5-33.3v-50
              	h-18.1V63.3z M525.7,70.8c0,8.1-3,14.7-8.7,19.1c-6.2,4.7-13.3,5.7-22,5.7h-30v-82h30c8.2,0,14.2,1.5,19.1,4.6
              	c6.1,4,9.9,11.1,9.9,18.6c0,5-2,12.2-7.6,16.5C522.3,57.1,525.7,63.7,525.7,70.8z M483.1,78.8h12.5c3.5,0,11.8-0.8,11.8-8.3
              	c0-6.3-3.7-9.3-11.3-9.3h-13V78.8z M495.9,45.3c6.7,0,9.8-2.4,9.8-7.7c0-5.3-3.3-7.9-10.1-7.9h-12.5v15.6H495.9z M128.7,13.5
              	l25.5,81.9h-19.1l-4.5-15h-26l-4.6,15H81.6l26-81.9H128.7z M117.9,37.8l-8.1,26.1h15.9L117.9,37.8z M538.9,30c-5,0-8.8-3.9-8.8-8.9
              	s3.7-8.9,8.8-8.9s8.8,3.9,8.8,8.9S543.9,30,538.9,30z M538.9,13.7c-4.3,0-7.1,3.1-7.1,7.4s2.8,7.4,7.1,7.4c4.3,0,7.1-3.1,7.1-7.4
              	S543.2,13.7,538.9,13.7z M540.9,25.6l-1.6-3.4h-1.8v3.4h-1.6v-9.3h3.4c1.8,0,3.3,1,3.3,2.9c0,1.2-0.5,2.2-1.7,2.7l1.7,3.7H540.9z
              	 M539.3,17.8h-1.8v2.9h1.8c1,0,1.6-0.4,1.6-1.5C540.9,18.2,540.2,17.8,539.3,17.8z"></path>
                          </g>
                      </g>
                  </g>
              </svg></a>
        </div>        
      </div>
    </div>
    
    <div class="hero">
      <div class="image fade-in" style="animation-delay: 0.5s;">
        <img src="{{ page.hero_image }}">
      </div>
      <div class="container">
        <div class="hero-text">
          <h1 class="fade-in" style="animation-delay: 1s;">{{ page.hero_headline }}</h1>
          <p class="fade-in" style="animation-delay: 1.5s;">{{ page.hero_subtext }}</p>
        </div>
        <div class="form fade-in" style="animation-delay: 2s;">
          <form id="form" method="POST">
            <input type="text" id="first-name" name="First Name" placeholder="First Name" required="" autocomplete="off" class="fade-in">
            <input type="text" id="last-name" name="Last Name" placeholder="Last Name" required=""  autocomplete="off">
            <input type="email" id="email" name="Email" placeholder="Email" pattern="^\S+@\S+$" required=""  autocomplete="off">
            <input type="tel" id="phone" name="Phone" placeholder="Phone Number" pattern="^(\d{7}|\d{10})$" title="Ten digit number, no dashes or special characters." required=""  autocomplete="off">
            <input type="text" id="campaign" name="Campaign" placeholder="free-hair-health-consultation" value="free-hair-health-consultation" style="display: none;">
            <div>
              <button type="submit">Sign Up</button>
            </div>
            <p>By clicking "Sign Up" you agree to our <a href="https://usealan.com/terms" target="_blank">Terms & Conditions</a>.</p>
          </form>
        </div>
      </div>
    </div>

    <div class="grid loading">
      <h3>Thanks, <strong></strong>!</h3>
      <h4>Please select a date and time for your appointment at <strong>{{ page.business_name }}</strong>:</h4>
      <div class="grid-container">
        <div class="loading-content">
          <span class="mdi mdi-36px mdi-spin mdi-loading"></span>
          <p>Searching for available slots at <strong>{{ page.business_name}}</strong></p>
        </div>
        
        <div id="in-one-day" class="day-block">
          <div class="label"></div>
          <ul class="list"></ul>
        </div>
        <div id="in-two-days" class="day-block">
          <div class="label"></div>
          <ul class="list"></ul>
        </div>
        <div id="in-three-days" class="day-block">
          <div class="label"></div>
          <ul class="list"></ul>
        </div>
        <div id="in-four-days" class="day-block">
          <div class="label"></div>
          <ul class="list"></ul>
        </div>
        <div id="in-five-days" class="day-block">
          <div class="label"></div>
          <ul class="list"></ul>
        </div>
        <div id="in-six-days" class="day-block">
          <div class="label"></div>
          <ul class="list"></ul>
        </div>
        <div id="in-seven-days" class="day-block">
          <div class="label"></div>
          <ul class="list"></ul>
        </div>
      </div>
    </div>

    <div class="modal">
      <div class="inner-modal">
        <h2>Confirm your appointment</h2>
        <div class="summary">
          <div class="label">Name</div>
          <div class="value name"></div>
        </div>
        <div class="summary">
          <div class="label">Date & Time</div>
          <div class="value date-time"></div>
        </div>
        <div class="button-area">
          <button class="confirm">Book Appointment</button>
        </div>
        <div class="close" tabindex="0"><span class="mdi mdi-close"></span></div>
      </div>
    </div>
    
    <div class="confirmation"></div>
    
    <ul id="raw-list"></ul>
    
    {% if page.features_title %}
    <div class="features fade-in" style="animation-delay: 2.5s;">
      <div class="container">
        <h2>{{ page.features_title }}</h2>
        {% if page.features_subtext %}
        <p>{{ page.features_subtext }}</p>
        {% endif %}
        <ul>
          {% if page.feature_one_title %}
          <li>
            <div class="image" style="background-image: url('{{ page.feature_one_image }}')"></div>
            <div class="feature-block-wrapper">
              <h3>{{ page.feature_one_title }}</h3>
              <p>{{ page.feature_one_subtext }}</p>
            </div>
          </li>
          {% endif %}
          {% if page.feature_two_title %}
          <li>
            <div class="image" style="background-image: url('{{ page.feature_two_image }}')"></div>
            <div class="feature-block-wrapper">
              <h3>{{ page.feature_two_title }}</h3>
              <p>{{ page.feature_two_subtext }}</p>
            </div>
          </li>
          {% endif %}
          {% if page.feature_three_title %}
          <li>
            <div class="image" style="background-image: url('{{ page.feature_three_image }}')"></div>
            <div class="feature-block-wrapper">
              <h3>{{ page.feature_three_title }}</h3>
              <p>{{ page.feature_three_subtext }}</p>
            </div>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
    {% endif %}

    {% if page.about_title %}
    <div class="about fade-in" style="animation-delay: 2.5s;">
      <div class="container">
        <div class="content">
          {% if page.about_comparison == true %}
          <div class="image with-comparison">
            <div class="comparison">
              <div class="img background-img" style="background-image: url('{{ page.about_comparison_before_image }}')"></div>
              <div class="img foreground-img" style="background-image: url('{{ page.about_comparison_after_image }}')"></div>
              <input type="range" min="1" max="100" value="50" class="slider" name='slider' id="slider">
              <div class="slider-button"></div>
            </div>
          </div>
          {% else %}
          <div class="image">
            <img src="{{ page.about_image }}">
          </div>
          {% endif %}
          <h2>{{ page.about_title }}</h2>
          {{ page.about_body }}
        </div>
      </div>
    </div>
    {% endif %}
    
    {% if page.footer_cta_title %}
    <div class="footer-cta fade-in" style="background: {{ page.business_primary_color }}; color: white; animation-delay: 2.5s;">
      <div class="container">
        <h2>{{ page.footer_cta_title }}</h2>
        <p>{{ page.footer_cta_subtitle }}</p>
        <a href="." class="footer-cta-button" style="color: {{ page.business_primary_color }}">Schedule Now</a>
      </div>
    </div>
    {% endif %}
    
    <div class="footer fade-in" style="background: {{ page.business_primary_color }}; color: white; animation-delay: 2.5s;">
      <div class="container">
        {% if page.footer_text %}
        <p>{{ page.footer_text }}</p>
        {% endif %}
        <ul class="links">                            
          <li><a title="Privacy Policy" href="https://usealan.com/privacy/" target="_blank">Privacy Policy</a></li>
          <li><a title="Terms of Use" href="https://usealan.com/terms/" target="_blank">Terms of Use</a></li>
          <li class="copyright">© {{ 'now' | date: "%Y" }} {{ page.business_name }}</li>          
        </ul>
        <a class="footer-icon" href="https://usealan.com" target="_blank"><img src="https://usealan.com/assets/images/logotype-white.svg"></a>
      </div>
    </div>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script>
      // ALAN variables
      var public_id = "{{ page.end_user_public_id }}";
      var internal_id = "{{ page.end_user_internal_id }}";
      
      var hairclub_center_id = "297";
      // Delray: 297
      // Hans Weimann: 355
      var hairclub_zip_code = "33444";
      // Delray: 33444
      
      // Read URL parameters
      var getUrlParameter=function(r){var t,e,n=decodeURIComponent(window.location.search.substring(1)).split("&");for(e=0;e<n.length;e++)if((t=n[e].split("="))[0]===r)return void 0===t[1]||t[1]};
    </script>
    <script type="text/javascript" src="/assets/scripts/hairclub.js"></script>

  </body>
</html>