<!DOCTYPE html>
<html lang="en">
  
  {%- include head.html -%}

  <body class="lp fade-in" data-theme="{% if page.template %}{{ page.template }}{% else %}1{% endif %}">
    <div class="hero">
      <div class="image" style="background-image: url('{% if page.hero %}{{ page.hero }}{% else %}/assets/images/hero.jpg{% endif %}')"></div>
      <div class="container">
        <div class="logo">
          <img src="/assets/images/logo.svg">
        </div>
        <div class="hero-text">
          <h1>{% if page.headline %}{{ page.headline }}{% else %}Get a hair health consultation.{% endif %}</h1>
          {% if page.copy %}
          <p>{{ page.copy }}</p>
          {% endif %}
        </div>
        <div class="form">
          <form id="form" method="POST" action="https://script.google.com/macros/s/AKfycbxrztl6k5GK3CfTMvC8aDgG4BHS69Qi49EfnnvnP-ZBIPn-e7fPCUQTm1pL-BrnGo4_mQ/exec">
            <input type="text" id="first-name" name="First Name" placeholder="First Name" required />
            <input type="text" id="last-name" name="Last Name"  placeholder="Last Name" required />
            <input type="email" id="email" name="Email"  placeholder="Email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2, 4}$" required />
            <input type="tel" id="phone" name="Phone"  placeholder="Phone Number" pattern="^(\d{7}|\d{10})$" title="Ten digit number, no dashes or special characters." required />
            <input type="text" id="campaign" name="Campaign" placeholder="free-hair-health-consultation" value="{% if page.campaign %}{{ page.campaign }}{% endif %}" style="display: none;" />
            <div>
              <input type="submit" value="{% if page.cta %}{{ page.cta }}{% else %}Sign Up{% endif %}">
            </div>
            <p class="terms-text">By selecting "{% if page.cta %}{{ page.cta }}{% else %}Sign Up{% endif %}" you agree to our Terms & Conditions.</p>
          </form>              
        </div>
      </div>
    </div>
    {% if page.features != false %}
    <div class="features">
      <div class="container">
        <h2>Powerful Products. Proven Results.</h2>
        <p>We understand that everyone’s hair is unique so we provide personalized hair solutions for people of all ages with different hair types and degrees of loss.</p>
        <ul>
          <li>
            <div class="icon"><span class="mdi mdi-bottle-tonic-plus"></span></div>
            <h3>Regrowth</h3>
            <p>Our regrowth solutions are non-surgical options that have shown to regrow hair when used as directed.</p>
          </li>
          <li>
            <div class="icon"><span class="mdi mdi-seat"></span></div>
            <h3>Replacement</h3>
            <p>Our replacement solutions are perfect for those who need new hair in certain areas quickly and are ideal for those in advanced stages of hair thinning or loss.</p>
          </li>
          <li>
            <div class="icon"><span class="mdi mdi-face-man-shimmer"></span></div>
            <h3>Restoration</h3>
            <p>Our restoration solutions are advanced surgical options that are best for people with moderate hair thinning or loss.</p>
          </li>
        </ul>
      </div>
    </div>
    {% endif %}
    <div class="footer">
      <div class="container">
        <p>© 2022 HairClub. All rights reserved. HairClub®, HairClub For Men®, HairClub For Women®, HairClub For Men and Women®, Maxxam®, Trima®, HairClub For Kids®, EXT®, EXT Extreme Hair Therapy®, Strand-by-Strand®, Polyfuse®, Xtrands® , Xtrands+® and Strand Builder® are registered trademarks of HairClub For Men, Ltd., Inc.</p>
        <p>HairClub’s Privacy Policy and Terms of Use set forth the conditions under which you may access and use our website. Your access and use of the website, lets HairClub know that you consent to be bound by HairClub’s Privacy Policy, Terms of Use, and applicable federal, and state or provincial law, as applicable, in effect at the time of your use. The terms in the Privacy Policy and the Terms of Use are non-negotiable. If you do not agree to be bound by any of the terms contained in our Privacy Policy or in our Terms of Use, or you are not legally able to contract in your place of residence by reason of your age (you are younger than 18 years of age) or other, then you should not access or use the HairClub website for any purpose.</p>
        <p>HairClub’s EXT Extreme Hair Therapy’s topical EXT® Regrowth Treatment with Minoxidil, an FDA-Approved ingredient that has been shown to regrow hair when used as directed.</p>
        <p>If you are having issues with the accessibility of this website, please call us at 888-875-0538 and we can help!</p>
        <ul class="links">                            
          <li><a title="Sitemap" href="https://hairclub.com/sitemap" target="_blank">Sitemap</a></li>
          <li><a title="Employment" href="https://hairclub.com/about-hair-club/join-our-team/" target="_blank">Employment</a></li>
          <li><a title="Privacy Policy" href="https://hairclub.com/privacy-policy/" target="_blank">Privacy Policy</a></li>
          <li><a title="Terms of Use" href="https://hairclub.com/terms-of-use/" target="_blank">Terms of Use</a></li>
          <li><a title="*Commitment &amp; Offers" href="https://hairclub.com/commitment-to-satisfaction-offer-terms/" target="_blank">*Commitment &amp; Offers</a></li>
          <li><a title="Español" href="https://hairclub.com/es" target="_blank">Español</a></li>          
        </ul>
      </div>
    </div>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/scripts.js"></script>
  </body>
</html>