<!DOCTYPE html>
<html lang="en">
  
  <head>
    <title>{{ page.campaign_title }} – {{ page.business_name }}</title>
    <meta name="description" content="{{ page.campaign_description }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, width=device-width, user-scalable=no" />
    <link rel="apple-touch-icon" href="https://usealan.com/assets/images/icon.png">
    <link rel="shortcut icon" href="https://usealan.com/assets/images/icon.ico" />
    <link rel="stylesheet" href="/assets/landing.css" />
    <meta name="theme-color" content="{{ page.business_primary_color }}">
    <meta property="og:image" content="{{ page.hero_image }}">
  </head>
  
  <body class="lp" data-theme="1">
    
    <div class="hero">

      <div class="header">
        <div class="container">
          <div class="logo">
            <a href="."><img src="{{ page.business_logo }}"></a>
          </div>        
        </div>
      </div>

      <div class="image">
        <img src="{{ page.hero_image }}">
      </div>
      <div class="container">
        <div class="hero-text">
          <h1>{{ page.hero_headline }}</h1>
          <p>{{ page.hero_subtext }}</p>
        </div>
        
        <div class="alan-lead-form" data-alan-short-id="{{ page.alan_short_id }}" data-alan-long-id="{{ page.alan_long_id }}" data-alan-campaign-id="{{ page.alan_campaign_id }}" data-alan-main-color="{{ page.alan_primary_color }}" style="position: relative; width: 100%; max-width: 400px; margin: 0;">
          <iframe src="/add-lead?short-id={{ page.alan_short_id }}&long-id={{ page.alan_long_id }}&campaign={{ page.alan_campaign_id }}&main-color={{ page.alan_primary_color }}" style="position: relative; width: 100%; height: 300px; border: 0 none; display: block;"></iframe>
        </div>
        <script class="https://usealan.com/embed.js" defer></script>
        
      </div>
    </div>

    <div class="grid loading">
      <h3>Thanks, <strong></strong>!</h3>
      <h4>Please select a date and time for your appointment at <strong>{{ page.business_name }}</strong>:</h4>
      <div class="grid-container">
        <div class="loading-content">
          <span class="mdi mdi-36px mdi-spin mdi-loading"></span>
          <p>Searching for available slots at <strong>{{ page.business_name}}</strong></p>
        </div>
        
        <div id="in-one-day" class="day-block">
          <div class="label"></div>
          <ul class="list"></ul>
        </div>
        <div id="in-two-days" class="day-block">
          <div class="label"></div>
          <ul class="list"></ul>
        </div>
        <div id="in-three-days" class="day-block">
          <div class="label"></div>
          <ul class="list"></ul>
        </div>
        <div id="in-four-days" class="day-block">
          <div class="label"></div>
          <ul class="list"></ul>
        </div>
        <div id="in-five-days" class="day-block">
          <div class="label"></div>
          <ul class="list"></ul>
        </div>
        <div id="in-six-days" class="day-block">
          <div class="label"></div>
          <ul class="list"></ul>
        </div>
        <div id="in-seven-days" class="day-block">
          <div class="label"></div>
          <ul class="list"></ul>
        </div>
      </div>
    </div>

    <div class="modal">
      <div class="inner-modal">
        <h2>Confirm your appointment</h2>
        <div class="summary">
          <div class="label">Name</div>
          <div class="value name"></div>
        </div>
        <div class="summary">
          <div class="label">Date & Time</div>
          <div class="value date-time"></div>
        </div>
        <div class="button-area">
          <button class="confirm">Book Appointment</button>
        </div>
        <div class="close" tabindex="0"><span class="mdi mdi-close"></span></div>
      </div>
    </div>
    
    <div class="confirmation"></div>
    
    <ul id="raw-list"></ul>
    
    {% if page.features_title %}
    <div class="features">
      <div class="container">
        <h2>{{ page.features_title }}</h2>
        {% if page.features_subtext %}
        <p>{{ page.features_subtext }}</p>
        {% endif %}
        <ul>
          {% if page.feature_one_title %}
          <li>
            <div class="image" style="background-image: url('{{ page.feature_one_image }}')"></div>
            <div class="feature-block-wrapper">
              <h3>{{ page.feature_one_title }}</h3>
              <p>{{ page.feature_one_subtext }}</p>
            </div>
          </li>
          {% endif %}
          {% if page.feature_two_title %}
          <li>
            <div class="image" style="background-image: url('{{ page.feature_two_image }}')"></div>
            <div class="feature-block-wrapper">
              <h3>{{ page.feature_two_title }}</h3>
              <p>{{ page.feature_two_subtext }}</p>
            </div>
          </li>
          {% endif %}
          {% if page.feature_three_title %}
          <li>
            <div class="image" style="background-image: url('{{ page.feature_three_image }}')"></div>
            <div class="feature-block-wrapper">
              <h3>{{ page.feature_three_title }}</h3>
              <p>{{ page.feature_three_subtext }}</p>
            </div>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
    {% endif %}

    {% if page.about_title %}
    <div class="about">
      <div class="container">
        <div class="content">
          {% if page.about_comparison == true %}
          <div class="image with-comparison">
            <div class="comparison">
              <div class="img background-img" style="background-image: url('{{ page.about_comparison_before_image }}')"></div>
              <div class="img foreground-img" style="background-image: url('{{ page.about_comparison_after_image }}')"></div>
              <input type="range" min="1" max="100" value="50" class="slider" name='slider' id="slider">
              <div class="slider-button"></div>
            </div>
          </div>
          {% else %}
          <div class="image">
            <img src="{{ page.about_image }}">
          </div>
          {% endif %}
          <h2>{{ page.about_title }}</h2>
          {{ page.about_body }}
        </div>
      </div>
    </div>
    {% endif %}
    
    {% if page.footer_cta_title %}
    <div class="footer-cta" style="background: {{ page.business_primary_color }}; color: white;">
      <div class="container">
        <h2>{{ page.footer_cta_title }}</h2>
        <p>{{ page.footer_cta_subtitle }}</p>
        <a href="." class="footer-cta-button" style="color: {{ page.business_primary_color }}">Schedule Now</a>
      </div>
    </div>
    {% endif %}
    
    <div class="footer" style="animation-delay: 2.5s;">
      <div class="container">
        {% if page.footer_text %}
        <p>{{ page.footer_text }}</p>
        {% endif %}
        <ul class="links">                            
          <li><a title="Privacy Policy" href="https://www.usealan.com/privacy/" target="_blank">Privacy Policy</a></li>
          <li><a title="Terms of Use" href="https://www.usealan.com/terms/" target="_blank">Terms of Use</a></li>
          <li class="copyright">© {{ 'now' | date: "%Y" }} {{ page.business_name }}</li>          
        </ul>
        <a class="footer-icon" href="https://usealan.com" target="_blank"><img src="https://usealan.com/assets/images/logotype-blue.svg"></a>
      </div>
    </div>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script>
      // ALAN variables
      var public_id   = "{{ page.end_user_public_id }}";
      var internal_id = "{{ page.end_user_internal_id }}";
      // Read URL parameters
      var getUrlParameter=function(r){var t,e,n=decodeURIComponent(window.location.search.substring(1)).split("&");for(e=0;e<n.length;e++)if((t=n[e].split("="))[0]===r)return void 0===t[1]||t[1]};
    </script>
    <script type="text/javascript" src="/assets/scripts/landing.js"></script>
  </body>
</html>